<!DOCTYPE html>
<html lang="en">

<!-- TODO: edit -->

<head>
  <meta charset="UTF-8">
  <title>Sharebnb</title>

  <link rel="stylesheet" href="https://unpkg.com/bootstrap@5/dist/css/bootstrap.css">
  <script src="https://unpkg.com/jquery"></script>
  <script src="https://unpkg.com/popper"></script>
  <script src="https://unpkg.com/bootstrap"></script>

  <link rel="stylesheet" href="https://www.unpkg.com/bootstrap-icons/font/bootstrap-icons.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/style.css">
  <link rel="shortcut icon" href="/static/sharebnb.png">
</head>

<body class="{% block body_class %}{% endblock %}">

  <nav class="navbar navbar-expand">
    <div class="container-fluid">

      <div class="navbar-header">
        <a href="/" class="navbar-brand">
          <img src="/static/sharebnb.png" alt="logo" class="nav-logo">
          <span id="brand-name">sharebnb</span>
        </a>
      </div>

      <ul class="nav navbar-nav navbar-right">

        {% block searchbox %}
        <li>
          <form class="navbar-form navbar-end" action="/listings">
            <input name="q" class="form-control" placeholder="Search Listings" aria-label="Search" id="search">
            <button class="btn btn-default">
              <span class="bi bi-search"></span>
            </button>
          </form>
        </li>
        {% endblock %}

        {% if not g.user %}
        <li><a href="/signup">Sign up</a></li>
        <li><a href="/login">Log in</a></li>
        {% else %}
        <li><a href="/listings/add">Add Listing</a></li>
        <li><a href="/users/{{ g.user.username }}/reservations">My Reservations</a></li>
        <li>
          <a href="/users/{{ g.user.username }}">
            {{ g.user.username }}
          </a>
        </li>
        <!-- <li><a href="/messages/new">New Message</a></li> -->
        <li>
          <form method="POST" action="/logout">
            {{ g.csrf_form.hidden_tag() }}
            <button id="logout-btn" class="btn btn-link">Log out</button>
          </form>
        <li>
          {% endif %}

      </ul>
    </div>
  </nav>

  <div class="container">

    {% for category, message in get_flashed_messages(with_categories=True) %}
    <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %}

    {% block content %}
    {% endblock %}

  </div>
</body>

</html>