{% extends 'base.html' %}
<div>
  {% block content %}
  <div class="listing-detail-container">
    <div class="card mb-3 listing-detail">
      <img src={{listing.photo_url}} class="card-img-top" alt={{listing.title}}>
      <div class="card-body">
        <h5 class="card-title">{{listing.title}}</h5>
        <p class="card-text">{{listing.location}}</p>
        <p class="card-text">{{listing.description}}</p>
        <p class="card-text"><small class="text-muted">${{listing.price}} night</small></p>
      </div>
    </div>
  </div>

  {% endblock %}
</div>