{% extends 'base.html' %}
<div>
  {% block content %}

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">{{user.username}}</h1>
      <p class="lead">{{user.bio}}</p>
    </div>
  </div>
  <hr class="my-4">
  {% if user.rented_listings|length == 0 %}
  <h6 class="display-6">No current reservations.</h6>
  {% else %}
  <h2>My Reservations:</h2>
  <div class="card-deck">
    {% for listing in listings %}
    <a href="/listings/{{listing.id}}" class="card-link">
      <div class="card listing-card">
        <img class="card-img-top" src={{listing.photo_url}} alt={{listing.title}}>
        <div class="card-body">
          <h5 class="card-title">{{listing.title}}</h5>
          <p class="card-text">{{listing.location}}</p>
          <!-- <p class="card-text">{{listing.description}}</p> -->
          <p class="card-text"><small class="text-muted">${{listing.price}} night</small></p>
        </div>
      </div>
    </a>

    {% endfor %}
    {% endif %}
  </div>

  {% endblock %}

</div>